@import '~bootstrap';
@import '~bootstrap-vue';

#code-font{
    font-family: 'Fira Code', Space Mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.top-NavBar{
    box-shadow: 0px 15px 10px -10px rgba(0, 0, 0, 0.1);
}

.bottom-NavBar{
    font-size: 7px;
    color:rgba(0, 0, 0, 0.3)
}

.nd-input{
    outline: none;
    border: none;
    color: rgba(0, 0, 0, 0.5);
}
.nd-input-df-warp{
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.5);
}
.nd-input-df-warp:hover{
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.7);
}
.nd-input{
    color: rgba(0, 0, 0, 0.5);
}
.nd-input:hover{
    color: rgba(0, 0, 0, 0.7);
}
.nd-input::placeholder{
    color: rgba(0, 0, 0, 0.5);
}
.nd-input:hover::placeholder{
    color: rgba(0, 0, 0, 0.7);
}
.nd-nav-item-selected{
    position: relative;
}
.nd-nav-item-selected>a:before{
    z-index: -1;
    position: absolute;
    height: 10px;
    width: 4em;
    bottom: 10px;
    margin-left: 0.3em;
    background-color: rgba(255, 255, 0, 1);
    content: "";
}

.nd-breadcrumb-df>ol{
    // position: absolute;
    margin-left: 22em;
    margin-right: 22em;
    background-color: rgba(0, 0, 0, 0);
    font-size: 13px;
}

.nd-breadcrumb-df{
    height: 2.5em;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.1);
}

.nd-link-df{
    color:rgba(0, 0, 0, 0.5);
    text-decoration: none;
}
.nd-link-df:hover{
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
}

.gap{
    width: 100em;
    height: 2em;
}
.nd-left-nav-item-selected{
    position: relative;
}
.nd-left-nav-item-selected::before{
    z-index: -1;
    position: absolute;
    height: 0.8em;
    margin-left: 0.3em;
    width: 8em;
    bottom: 0.2em;
    background-color: rgba(255, 255, 0, 1);
    content: "";
}
.nd-left-nav-item{
    height: 2em;
    color: rgba(0, 0, 0, 0.5);
}
.nd-left-nav-item:hover{
    color: rgba(0, 0, 0, 0.7);
}
.nav-username>a{
    cursor: default;
}

body{
    ::selection{
        background: #b3d4fc;
    }
    ::-moz-selection{
        background: #b3d4fc;
    }
    -webkit-user-select: none;   
    -moz-user-select: none;    
    -ms-user-select: none;    
    user-select: none;
}

.allow-copy{
    -webkit-user-select: text;  
    -moz-user-select: text;    
    -ms-user-select: text;    
    user-select: text;
}